.banner {
  background-color: rgb(29, 3, 73);
  color: white;
  margin-top: 75px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 100px 0;
}

#dani-photo {
  height: 60%;
  width: 60%;  
  filter: drop-shadow(2px 2px 2px black);
}

.info {
  
  position:;
  background-color: lightgray;
  padding: 20px;
  width: 200px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(29, 3, 73);
  text-align: center;

  

  
}

h2 {
  color:rgb(29, 3, 73);
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

body {
    background: lightgray;
  }

 