.navbar {
  background-color: lightgray;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 30px 20px;

}
.navbar a {
  color: rgb(29, 3, 73);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-weight: bold;
}

body {
  background: lightgray;
}

.banner {
  text-align: center;
  background-color: rgb(29, 3, 73);
  color: white;
  margin-top: 75px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 100px 0;
}

#dani-photo {
  height: 60%;
  width: 60%;  
  filter: drop-shadow(2px 2px 2px black);
}

h2 {
  color:rgb(29, 3, 73);
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


#bio {
  text-align: center;
  font-family: serif;
  font-size: medium;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.button-div{
  display: flex;
  justify-content: center;
}

#button {
  
  position:absolute;
  background-color: lightgray;
  padding: 20px;
  width: 200px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(29, 3, 73);
  text-align: center;
}